<ul class="nav nav-pills justify-content-evenly m-3 btn-sm btn">
    <li class="nav-item">
      <a class="nav-link" style="background-color: rgb(140, 158, 177); color: wheat;" routerLinkActive="active" routerLink="top250movies" >Movies</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="top250tvshows">Shows</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="top150asian">Asian Hits</a>
    </li>
    
  </ul>
  
  <div>
    <router-outlet></router-outlet>
  </div>
