<input type="text" name="" id="" placeholder="search movie"  class="form-control k mb-3" [(ngModel)]="searchTerm">
<div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 ">
    <div class="col p-2" *ngFor="let asianObj of asianMovieData |search:searchTerm | paginate: { itemsPerPage:15, currentPage:p}">
        <app-asian-movie-info [asianMovieObj]=asianObj></app-asian-movie-info>
    </div>
</div>

<div class="text-center mt-5 mb-5">
    <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>

