<!--
<footer class=" border-1 border-dark mt-5 p-3 text-center bg-secondary">
    <button class="btn-secondary-outline d-block mx-auto"> ^ </button>
    <p class="lead m-2 text-dark">back to top</p>
    <p  class="lead mt-3 text-dark">an amazon company</p>
</footer>
-->

<footer class="bg-white text-center text-white">
    <!-- Grid container -->
    <div class="container p-2 ">
      <!-- Section: Social media -->
      <section class="mb-2">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f text-dark"></i
        ></a>
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-twitter text-dark"></i
        ></a>
  
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-google text-dark"></i
        ></a>
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram text-dark"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-linkedin-in text-dark"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github text-dark"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <p class="text-dark">An <i class="fab fa-amazon"></i> Amazon company</p>
  
    <!-- Copyright -->
    <div class="text-center text-dark p-2" >
      © 2020 Copyright:
      <a class="text-dark" href="#" style="text-decoration: none;">www.CineBee.com</a>
    </div>
    <!-- Copyright -->
  </footer>