 <!--<div class="row">
    <div class="col-sm-10 col-md-7 col-lg-5 mx-auto mt-3 p-3 ">
        <h4 class="m-5 text-center border-3 border-bottom p-2 border-muted" id="lh"><img src="../assets/login-removebg-preview.png" width="50px"> Login Here</h4>
        <form class="form " #ref="ngForm" >
            <div>
            <label for="un" class="form-label" id="un"><i class="far fa-user"></i> User Name</label>
            <input type="text" id="un" name="username" class="form-control" >
            </div>
            <div>
                <label for="pw" class="form-label mt-1"id="pd"><i class="fas fa-lock"></i> Password</label>
                <input type="text" id="pw" name="Password" class="form-control" >
            </div> 
            <div class="text-center mt-3">
            <button class="btn mt-1" id="lb">Login</button>
            <p class="lead mt-2" id="dhaa">Dont have an account?</p>
            <p class="text-white">Click here to <a routerLinkActive="active" routerLink="register" style="text-decoration: none;" (click)="onRegister()">Register</a></p>
            </div>

        </form>

    </div>

</div>-->

<div class="row">
    <div class="col-sm-10 col-md-7 col-lg-5 mx-auto mt-3 p-3 ">
        <h4 class="m-5 text-center border-3 border-bottom p-2 border-muted" id="lh"><img src="../assets/login-removebg-preview.png" width="50px"> Login Here</h4>
        <form class="text-white" #ref="ngForm" (ngSubmit)=" ref.form.valid&& onLogin(ref)">

            <div class="mb-3">
                <label for="un" class="form-label"><i class="far fa-user"></i>Username</label>
        
                <input type="text" class="form-control" id="un" name="username" ngModel required minlength="4"
                    #refUsername="ngModel" autocomplete="off">
        
                <p class="text-warning" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.required">*
                    Username is required
                </p>
        
                <p class="text-warning" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.minlength">*
                    Minlength should be 4
                </p>
            </div>

            <div class="mb-3">
                <label for="pw" class="form-label"><i class="fas fa-lock"></i>Password</label>
                <input type="password" class="form-control" id="pw" name="password" ngModel required 
                    #refPassword="ngModel" >
        
        
                    <p class="text-warning" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.required">*
                        Password is required
                    </p>
        
                    <p class="text-warning" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.pattern">*
                        Pattern not matched
                    </p>
            </div>

            <button type="submit" class="btn btn-success d-block mx-auto m-4">Login</button>

            <p class="lead mt-2 mx-auto text-center" id="dhaa">Dont have an account?</p>

            <p class="text-white mx-auto text-center">Click here to <a routerLinkActive="active" routerLink="register" style="text-decoration: none;" (click)="onRegister()">Register</a></p>


        </form>


    </div>

    </div>

    
