<input type="text" name="" id="" placeholder="search here" class="form-control m-3  w-50" [(ngModel)]="searchTerm">


<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-5">
    <div class="col" *ngFor="let inTheatreObj of InTheatresData | search:searchTerm;let ind=index">
    <div class="card m-3">
        <img class="d-block mx-auto" src="{{inTheatreObj.image}}" width="100%">
         <div class="card-footer">
              <p class="k">{{inTheatreObj.title}}</p>
            <p>Rating <i class="far fa-star text-warning"></i>:{{inTheatreObj.imDbRating}}</p>
            <button class="btn btn-sm" style="background-color: rgb(238, 229, 153);"><i class="far fa-thumbs-up"></i> vote</button>
                 
                <button class="btn btn-sm d-inline float-end " style="background-color: rgb(196, 188, 188);" [attr.data-bs-target]="'#card'+ind" data-bs-toggle="modal" ><i class="fas fa-info-circle"></i></button>
                    <div class="modal" [attr.id]="'card'+ind" data-bs-backdrop="static">
                     <div class="modal-dialog modal-dialog-centered ">
                        <div class="modal-content">
                                <div class="modal-body" style="background-color: rgba(53, 53, 53, 0.959);">
                                    <button class="btn btn-danger float-end" data-bs-dismiss="modal">X</button>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <img class="img-fluid mt-5" src="{{inTheatreObj.image}}" width="100%">
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="ms-2 mt-5 text-white">
                                                <p class="lead">{{inTheatreObj.title}}</p>
                                                <p>Time : {{inTheatreObj.runtimeStr}}</p>
                                                <p style="font-size: large;">Plot : {{inTheatreObj.plot}}</p>
                                                <p>Genre : {{inTheatreObj.genres}}</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                    <button class="btn btn-warning float-end btn-sm"><a href="https://in.bookmyshow.com/" style="text-decoration: none; color: azure;">Book Ticket</a></button>
                                    <button class="btn btn-info btn-sm"><a href="https://www.youtube.com/" style="text-decoration: none; color: azure;">Watch Trailer</a></button>
                                    </div>
                                </div>
                                
                            </div>      
                        </div>
                    </div>
            </div>
            </div>
            </div>
