  
  .kk {
    position: relative;
    height: 35em;
    top: 4rem;
    width: 90%;
    display: flex;
  }
  
  .car {
    display: flex;
    background-color: #17141d;
    width: 20rem;
    height: 25rem;
    border-radius:0.8rem;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .car:not(:first-child) {
      margin-left: -3rem;
  }
  
  .car:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .car:hover ~ .card {
    position: relative;
    left: 5rem;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: white;
    
    position: absolute;
    left: 1.2rem;
    top: 1rem;
  }
  
  .bar {
    position: absolute;
    top: 6rem;
    left: 1rem;
    height: 0.5rem;
    width: 10rem;
  }
  
  
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .car:hover .filledbar {
    width: 60%;
    transition: 0.4s ease-out;
  }
  
  
  
  .stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
  }
  
  svg {
    fill: #17141d;
    stroke-width: 0.2rem;
  }
  
  .car:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
  }


  @media screen and (min-width:320px) and (max-width:780px){
     
    .pk{
        max-width: 90%;
    }
    .kk{
        width: 100%;
    }
  }

  h4{
    color:rgb(71, 57, 57);
    

  }

  #trcc{
    background-color: rgb(255, 255, 255);
  }

  
  #cts{
    font-style: italic;
    font-family: 'comic sans ms';
  }

  #ctts{
    font-family: 'georgia';
    font-weight: bolder;
   
  }

  #htb{
    color:rgb(54, 52, 52);
    font-style: oblique;
    font-weight: bolder;
    text-shadow:2px 2px rgb(155, 154, 154);
  }

  #cbcts{
    font-family: 'trebuchet ms';
    
  }

  #ow{
    font-family: 'trebuchet ms';
    color:rgb(168, 170, 182);
    font-style: oblique;
   
  }

  #rh{
    color:rgb(179, 29, 86);
    font-style: oblique;
    font-weight: bolder;
    
  }

  #psl1{
    background-color:rgb(195, 230, 234);
  }

  #psl2{
    background-color:rgb(247, 239, 223);
  }

  #psl3{
    background-color:rgb(230, 224, 236);
  }

  #psl4{
    background-color:rgb(247, 235, 236);
  }

  #rhts{
    font-style: italic;
    
    font-size: 20px;
  }
  #itn{
    color:rgb(7, 119, 41);
    font-style: oblique;
    font-weight: bolder;
   
  }

  #ft{
    font-family: 'trebuchet ms';
    
  }

  #itc{
    font-family: 'trebuchet ms';
    font-style: italic;
    color:rgb(212, 197, 194);
   

  }
  #itt{
    font-family: 'trebuchet ms';
  }
  
