<div class="card mt-3">
    <img class="d-block mx-auto" src="{{tvshowsobj.image}}" width="100%">
        <div class="card-footer">
            <p>{{tvshowsobj.title}}</p>
            <p>rating <i class="far fa-star text-warning"></i>:{{tvshowsobj.imDbRating}}</p>
            <button class="btn btn-sm" style="background-color: rgb(238, 229, 153);"><i class="far fa-thumbs-up"></i> vote</button>
            <button class="btn btn-secondary btn-sm d-inline float-end " data-bs-target="#card1" data-bs-toggle="modal" >see more</button>
            <!--moddal for 1st -->
            <div class="modal" id="card1" data-bs-backdrop="static">
                 <div class="modal-dialog">
                    <div class="modal-content">
                            <div class="modal-body">
                                <button class="btn btn-danger float-end" data-bs-dismiss="modal">X</button>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <img src="" width="100%">
                                    </div>
                                    <div class="col-sm-7">
                                        <div class="ms-5 mt-5">
                                        
                                        </div>
                                    </div>
                                </div>
                                
                                <button class="btn btn-warning float-end ">yy</button>
                            </div>
                            
                        </div>      
                    </div>
                </div>
        </div>
