
    
<p class="text-center display-3 mx-auto mt-5 pt-5 text-white" id="l"> <i class="fab fa-forumbee"></i> CineBee</p>

<p class="text-center  max-auto mt-3 mb-4 text-white lead" id="s" style="font-style: italic; font-size:xx-large;">The complete movie review app</p>

<button class="btn mx-auto mt-3 d-block mb-5" (click)="onGetStarted()">➠ Get Started</button>

<a routerLink="getstarted" routerLinkActive="active"></a>

<div class="row mt-4 pt-5 mb-4">
    <div class="col-sm-6">
        <p class=" text-light" style="color: darkslategray; font-size: xx-large;">CineBee is the companion for you in these hard times,stay home and chill off.</p>
        <p class="lead mb-4 text-light" style="font-size:x-large;">We review about each and film released ,then what's late bro? click get started </p>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-5">
    <!--    <img src="http://ww1.prweb.com/prfiles/2014/01/19/11503155/movie-night_t_nv.jpg" width="100%"  alt="" class="img-fluid">
    -->
</div>
</div>





