<div class="row text-white" >
  <div class="col-sm-10 col-md-7 col-lg-5 mx-auto mt-3 p-3 ">
      <h4 class="m-5 text-center border-3 border-bottom p-2 border-muted" id="lh">Register Account</h4>
      <form class="text-white" #ref="ngForm" (ngSubmit)=" ref.form.valid&& onLogin(ref)">

          <div class="mb-3">
              <label for="un" class="form-label"><i class="far fa-user"></i>Username</label>
      
              <input type="text" class="form-control" id="un" name="username" ngModel required minlength="4"
                  #refUsername="ngModel" autocomplete="off">
      
              <p class="text-warning" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.required">*
                  Username is required
              </p>
      
              <p class="text-warning" *ngIf="(ref.submitted||refUsername.touched)&&refUsername.errors?.minlength">*
                  Minlength should be 4
              </p>
          </div>

          <div class="mb-3">
              <label for="pw" class="form-label"><i class="fas fa-lock"></i>Password</label>
              <input type="password" class="form-control" id="pw" name="password" ngModel required 
                  #refPassword="ngModel" >
      
      
                  <p class="text-warning" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.required">*
                      Password is required
                  </p>
      
                  <p class="text-warning" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.pattern">*
                      Pattern not matched
                  </p>
          </div>

          <div class="mb-3">
            <label for="pw" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="pw" name="password" ngModel required 
                #refPassword="ngModel" >
    
    
                <p class="text-warning" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.required">*
                    Password is required
                </p>
    
                <p class="text-warning" *ngIf="(ref.submitted||refPassword.touched)&&refPassword.errors?.pattern">*
                    Pattern not matched
                </p>
        </div>

          <button type="submit" class="btn btn-success d-block mx-auto m-4">Register</button>

          

          


      </form>


  </div>

  </div>

  
